/* Global styles */
body {
    margin: 5px;
    padding: 5px;
    font-family: 'sans', cursive;
    color: #ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url("../pictures/Wood-Background.png");
    background-size: cover;
    background-position: center top; 
    text-align: center;
    background-repeat: no-repeat;
}

/* Header styles */
.header {
    padding: 135px;
    padding-bottom: 0px;
    font-size: xx-large;
    align-items: center;
}

/* Main and section styles */
main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.details {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.details h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 5px;
}

.details p {
    margin: 0;
    font-size: 45px; 
}

/* Footer styles */
.footer {
    text-align: center;
    padding-top: 50px; /* Add large top padding */
}

.footer nav ul {
    list-style: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin-right: 75px;
}

.footer nav ul li:last-child {
    margin-right: 0;
}

.footer nav ul li a {
    font-size: x-large; /* Set text size to XL */
    color: #ffff; /* Text color */
    text-decoration: none; /* Remove underline */
}

.footer nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* RSVP form styles */
form {
    max-width: 400px; /* Match the max-width of the .details section */
    margin: 0 auto; /* Center the form */
}

form label {
    display: block;
    margin-bottom: 1px;
}

form input[type="text"],
form input[type="email"],
form select,
form input[type="number"] {
    width: calc(100% - 22px); /* Make input fields full-width */
    padding: 15px; /* Increase padding for larger input fields */
    margin-bottom: 10px; /* Add space between input fields */
    font-size: 20px; /* Increase font size for larger input fields */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
}

form input[type="submit"] {
    width: 75%; /* Make submit button full-width */
    padding: 15px; /* Increase padding for larger button */
    font-size: 20px; /* Increase font size for larger button */
    background-color: rgb(60, 15, 15); /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: rgb(131, 22, 22); /* Darken background color on hover */
    color: rgb(221, 221, 135);
    font-weight: bold;
}

.about {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 25px; 
    max-width: 1900px; /* Set a maximum width for the section */
    width: 100%; /* Set the width to 90% of the container's width */
    margin: 0; /* Center the section horizontally */
    background-color: rgba(5, 5, 5, 0.329); /* Transparent white background */
}

.about p {
    margin: 20px;
    text-align: justify; /* Justify the text */
    line-height: 1.6; /* Set the line height to improve readability */
}

/* CSS for small screens (up to 768px) */
@media (max-width: 768px) {
    body {
        font-size: 16px; 
        padding: 0; 
    }
    .header {
        padding: 80px;
    }
    .details {
        max-width: 100%; 
    }
    .details h2 {
        font-size: 36px; 
    }
    .details p {
        font-size: 24px;
    }
}
