/* Global styles */
body {
    margin: 5px;
    padding: 5px;
    font-family: 'sans', cursive;
    color: #ffff;
    background-image: url("/assets/pictures/Wood-Background.png");
    background-size: cover;
    background-position: center;
    background-position: top center;
    text-align: center;
}

/* Header styles */
.header {
    padding: 135px;
    font-size: xx-large;
    align-items: center;
    padding-bottom: 0px;
}

/* New styles for main and section */
main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.details {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.details h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: xxx-large;    
}

.details p {
    margin: 0;
    font-size: 18px;
    font-size: xx-large;
}